body {
    background: bisque;
    font-family: sans-serif;
    width: 550px;
    margin: auto;
}

h1 {

    text-align: center;
    background: rgb(59, 32, 178);
    color: cyan;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

h1:hover {
    letter-spacing: 5px;
}

h2:before {
    content: "Se acabaron las vacaciones"
}

h2:hover:before {
    content: ":(";
}

h2:hover {
    cursor: pointer;
}

img {
    width: 450px;
    height: 450px;
    border: 20px solid white;
    border-radius: 35px;
    box-shadow: 10px 10px 10px black;
    transition: 1.5s;
}

img:hover {
    scale: 75%;
    border-radius: 50%;
    border: 40px solid cyan;
    filter: grayscale(100%);



}

#breathing-button:hover {
    
    -webkit-animation: breathing 7s ease-out infinite normal;
    animation: breathing 7s ease-out infinite normal;
    -webkit-font-smoothing: antialiased;

}


@-webkit-keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

footer{
margin-top: 30px;
text-align: center;

}
footer:hover {
    transform: rotate(180deg);
}
/* {
    border: 1px solid red;
    padding: 20px;
}*/