<!Doctype html>
<html lang="es">
 <head>
  <meta charset="utf-8">
  <title>Ejemplo de fondos</title>
  
  <!-- font-awesome ( iconos ) -->
  <link rel="stylesheet" href="  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

  <!-- enlace a nuestro css -->
  <link rel="stylesheet" href="css/style.css">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="img/favicon.png" />

 </head>
  <body>
  
    <div id="portada"> 
       <h1>Bienvenidos al paraiso</h1>
     </div>   
    <div class="folio">
    	
    <img src="img/face.jpg" alt="" class="autor">
    
    
    <h2>Visitando el norte de Noriega</h2>
    	
    <div class="texto">
    <p>Esta semana hemos tenido la oportunidad de Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis adipisci molestias facere animi eos tenetur impedit hic reiciendis repellat, eligendi suscipit corporis deserunt aperiam maiores, voluptas sint. Reprehenderit, tempore, maxime!</p>
    	
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident cumque repellat minus eum eius odio repellendus sapiente rerum quidem quae neque consequuntur aut labore necessitatibus, ex explicabo, deleniti doloremque laboriosam.</p>
    	
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius sunt, quaerat obcaecati modi unde dolorem, vitae molestiae, hic earum ipsam aspernatur voluptatem consectetur ducimus porro numquam quas nulla, eaque voluptatum.</p>
		</div> <!-- parrafo -->
    </div> <!-- folio -->
   
   <footer><p>&copy; Copyright 2019 | Mi web mola</p></footer>
   
	</body>
</html>